footer.footer
    .footer__row
      .footer__col.footer__col_left
        .footer__menu
          nav.menu
            ul.menu__list
              li.menu__items
                a.menu__link(href="") Мои работы
              li.menu__items
                a.menu__link(href="") Обо мне
              li.menu__items
                a.menu__link(href="") Блог
              li.menu__items
                a.menu__link(href="") Авторизация
      .footer__col.footer__col_right
        ul.socials.footer__socilas
            li.socials__item.footer__socilas-item  
              a(href="").socials__link
                svg.socials__icon.socials__icon-vk.socials__round
                  use(xlink:href="assets/images/sprite/sprite.svg#vk-round")
            li.socials__item.footer__socilas-item  
              a(href="").socials__link
                svg.socials__icon.socials__icon-vk.socials__round
                  use(xlink:href="assets/images/sprite/sprite.svg#github-round")
            li.socials__item.footer__socilas-item 
              a(href="").socials__link
                svg.socials__icon.socials__icon-vk.socials__round
                  use(xlink:href="assets/images/sprite/sprite.svg#in-round")
    .footer__row
      .footer__col.footer__col_left
        .footer__text.text-content
          p.footer__text Я веб-разработчик из Воронежа, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
      .footer__col.footer__col_right
        .footer__copyright
          p.footer__text © Климов Владислав | создано с любовью в LoftSchool | 2016
