.triangle-container
    .about__triangle
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
            polygon(class="left" points="0,0   0,200   1000,200   1000,75.5")
    .about__triangle
        svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
            polygon(class="right" points="1000, 0   1000, 200   0, 200   0, 75.5")