extends ../template

block variables
  - var title = 'Обо мне'
  - var left = 'left'

block content
  section.section.hero
    #parallax.parallax
      .parallax__layer
          img(src="assets/images/parallaks/8.png").parallax__image.parallax__background
      .parallax__layer
          img(src="assets/images/parallaks/7.png").parallax__image
      .parallax__layer
          img(src="assets/images/parallaks/6.png").parallax__image
      .parallax__layer
          img(src="assets/images/parallaks/sky3.png").parallax__image.sky3
      .parallax__layer
          img(src="assets/images/parallaks/5.png").parallax__image
      .parallax__layer
          img(src="assets/images/parallaks/4.png").parallax__image
      .parallax__layer
          img(src="assets/images/parallaks/sky2.png").parallax__image.sky2
      .parallax__layer
          img(src="assets/images/parallaks/2.png").parallax__image
      .parallax__layer
          img(src="assets/images/parallaks/1.png").parallax__image
    .hero-top-menu
        .hero__socials
            ul.socials
                li.socials__item 
                    a(href="").socials__link
                        svg.socials__icon.socials__icon-vk
                            use(xlink:href="assets/images/sprite/sprite.svg#vk")
                li.socials__item 
                    a(href="").socials__link
                        svg.socials__icon
                            use(xlink:href="assets/images/sprite/sprite.svg#git")
                li.socials__item 
                    a(href="").socials__link
                        svg.socials__icon.socials__icon-in
                            use(xlink:href="assets/images/sprite/sprite.svg#in")
        .hero__menu
            .hamburger
                svg.hamburger-menu
                    use(xlink:href="assets/images/sprite/sprite.svg#menu")
    .hero__author
        .user.hero__user
            .user__pic
                //img.user__pic-img(src="assets/images/a.jpg", alt="i dont understand")
            .user__description
                .user__name Владислав Климов
                .user__info Личный сайт разработчика
    .hero__scroll-btn
        a.arrow-down(href="")
            svg.arrow-down
                use(xlink:href="assets/images/sprite/sprite.svg#arrow")
  section.section.about
    include ../common/triangle.pug
    .about-container
      .about__left-cln
        //- .about__triangle.about-triangle
        //-   svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
        //-         polygon(class = "left" points="0,0   0,86   1000,86   1000,75.5")
        .about__left-cln__left
          .about__left-title
            h1.h1.block-title Обо мне
        .about__left-cln__right
          .about__left-content
            .user-description
              .user-description__image
              .user-description__title
                h2.block-subtitle.who-i Кто я
              .user-description__text 
                p.user-description__text__item Я веб разработчик из Воронежа. Мне 20 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p.user-description__text__item Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about__right-cln
        //- .about__triangle.about-triangle
        //-   svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
        //-        polygon(class = "right" points="1000, 0   1000, 86   0, 86   0, 75.5")
        .about__right-title
          .right-title__container
            h2.block-subtitle.skill-title Чем я могу быть вам полезен
        .about__right-description
          p.user-description__text__item Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
        .about__right-content
          ul.skills-list
            li.skills-list__item
              .skills-row
                h3.skills-row__title Frontend
                ul.skills-row__list
                  li.skills-row__item
                    .text-skill-container
                      .text-skill HTML5
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-15") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill CSS3
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-55") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill JavaScript &amp;jQuery
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-95") 
            li.skills-list__item
              .skills-row
                h3.skills-row__title Backend
                ul.skills-row__list
                  li.skills-row__item
                    .text-skill-container
                      .text-skill PHP
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-15") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill mySQL
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-55") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill Node.js &amp;npm
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-95") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill Mongo.db
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-95") 
            li.skills-list__item
              .skills-row
                h3.skills-row__title WorkFlow
                ul.skills-row__list
                  li.skills-row__item
                    .text-skill-container
                      .text-skill Git
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-15") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill Gulp
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-55") 
                  li.skills-row__item
                    .text-skill-container
                      .text-skill Bower
                    svg(class="circles" viewBox='0 0 110 110')
                      circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                      circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-95") 
  section.section.map
    .google-map
    .map__data
      .contacts
        .contacts__title
          h2.block-subtitle.contacts-title Контакты
        ul.contacts__list
          li.contacts__item
            .contacts-row__item 
              svg(class="contacts-icon") 
                use(xlink:href="assets/images/sprite/sprite.svg#skype")
            .contacts-row__content skype_kdn
          li.contacts__item
            .contacts-row__item 
              svg(class="contacts-icon") 
                use(xlink:href="assets/images/sprite/sprite.svg#mail")
            .contacts-row__content klimvd97@mail.ru
          li.contacts__item
            .contacts-row__item 
              svg(class="contacts-icon") 
                  use(xlink:href="assets/images/sprite/sprite.svg#phone")
            .contacts-row__content +7 (910)-247-72-74
          li.contacts__item
            .contacts-row__item 
              svg(class="contacts-icon") 
                  use(xlink:href="assets/images/sprite/sprite.svg#map-mark")
            .contacts-row__content Россия г.Воронеж, ул.Ильича 59
  include ../common/footer.pug


  //- include ../common/me.pug
  //- h2 Чем я могу быть вам полезен
  //- include ../common/technologies.pug