extends ../template

block variables
  - var title = 'Блог'

block content
  section.section.hero.blog-header
      .hero-top-menu
          .hero__socials
              ul.socials
                  li.socials__item 
                      a(href="").socials__link
                          svg.socials__icon.socials__icon-vk
                              use(xlink:href="assets/images/sprite/sprite.svg#vk")
                  li.socials__item 
                      a(href="").socials__link
                          svg.socials__icon
                              use(xlink:href="assets/images/sprite/sprite.svg#git")
                  li.socials__item 
                      a(href="").socials__link
                          svg.socials__icon.socials__icon-in
                              use(xlink:href="assets/images/sprite/sprite.svg#in")
          .hero__menu
              .hamburger
                  svg.hamburger-menu
                      use(xlink:href="assets/images/sprite/sprite.svg#menu")
      .hero__author
          .user.hero__user.hero-blog__user
              .user__pic
                  //img.user__pic-img(src="assets/images/a.jpg", alt="i dont understand")
              .blog__pic
                  img.blog__pic-img(src="assets/images/blog_header.svg", alt="i dont understand")
              .user__description.blog-user__description
                  h1.h1.blog-title  Блог
                  .blog-title__description Статьи, которые я написал
  section.triangle-blog
    .triangle-container
      .about__triangle
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
              polygon(class="blog-poligon" points="0,0   0,200   1000,200   1000,75.5")
      .about__triangle
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
              polygon(class="blog-poligon" points="1000, 0   1000, 200   0, 200   0, 75.5")
  section.blog-section
    .blog-section__left-clm
      ul.blog-named__list
        li.blog-named__item.blog-name__active
          .blog-name Самое важное в SASS
        li.blog-named__item
          .blog-name Самое важное в SCSS
        li.blog-named__item
          .blog-name Самое важное в HTML
        li.blog-named__item
          .blog-name Самое важное в PUG
    .blog-section__right-clm
      ul.blog-content__list
        li.blog-content__item.blog-content__active
          h2.blog-content__name Самое важное в SASS
          .blog-content__date 21.09.2017
          p.blog-content__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          .blog-content__border-block
        li.blog-content__item.blog-content__active
          h2.blog-content__name Самое важное в SCSS
          .blog-content__date 21.09.2017
          p.blog-content__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          .blog-content__border-block
  include ../common/footer.pug