extends ../template

block variables
  - var title = 'Добро пожаловать'

block content
  .index
    .authorization-link-container
      a(href="/authorization.html").authorization-link Авторизация
    .index-container 
      .authorization-form-container
        .authorization-form
          .authorization-form_top
            .authorization-author
              .user__pic.authorization_avatar
              h2.name.authorization-name Владислав Климов
              h3.name.authorization-site Личный сайт разработчика
            ul.socials.authorization-socials__list
              li.socials__item.authorization-socials__item
                a(href="").socials__link
                  svg.socials__icon.socials__icon-vk.authorization-icons
                    use(xlink:href="assets/images/sprite/sprite.svg#vk")
              li.socials__item.authorization-socials__item
                a(href="").socials__link
                  svg.socials__icon.authorization-icons
                    use(xlink:href="assets/images/sprite/sprite.svg#git")
              li.socials__item.authorization-socials__item
                a(href="").socials__link
                  svg.socials__icon.socials__icon-in.authorization-icons
                    use(xlink:href="assets/images/sprite/sprite.svg#in")
          .authorization-form__bot
            a(href='/my-works.html').button-form.button-form-left.authorization-author__left-but Мои работы
            a(href='/about.html').button-form.authorization-form__but-mid Обо мне
            a(href='/blog.html').button-form.button-form-right.authorization-author__right-but  Блог
    .author-text 
      .author-context © Климов Владислав
      .author-context.delimiter-autoriz  создано с любовью в LoftSchool | 2017