.blog-poligon {
    fill: white;
}

.blog-section {
    background-color: white;
    display: flex;
    padding-bottom: 7rem;
}

.blog-section__left-clm {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    @include tablets {
        display: none;
    }
}

.blog-named__item {
    text-align: left;
    font-size: .8rem;
    margin-bottom: 1rem;
    padding: .5rem 2rem .5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blog-name__active {
    color: $green;
    border-right: solid 2px $green;
}

.blog-section__right-clm {
    width: 75%;
    padding-right: 5%;
    padding-left: 5%;
    @include tablets {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

.blog-content__name {
    margin-top: 0;
    color: $gray;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    @include phones {
        font-size: 21px;
        margin-bottom: 0.4rem;
    }
}

.blog-content__date {
    color: $green;
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 1rem;
    @include phones {
        font-size: 14px;
        margin-bottom: .4rem;
    }
}

.blog-content__text {
    font-size: .8rem;
    font-weight: 400;
    color: $gray;
    margin-bottom: 3rem;
    @include phones {
        font-size: 14px;
        margin-bottom: 1rem;
    }
}

.blog-content__border-block {
    height: 0.25rem;
    width: 75%;
    background-color: #f1f1f2;
    margin-bottom: 3rem;
    @include tablets {
        margin: 0 auto 3rem;
    }
}