$gray: #455a64;
$green: #00bfa5;
$white-fone: #faf8f0;
@font-face {
    font-family: 'Bern';
    src: url('../fonts/bern.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 10px;
    background: #ccc
}

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

@import 'common/mixin';
@import 'common/global';
@import 'common/parallax';
@import 'common/about/user-image';
@import 'common/about/about-hero';
@import 'common/authorization/autorization';
@import 'common/authorization/post-authorization';
@import 'common/normalize';
@import 'common/technologies';
@import 'common/slider';
@import 'common/menu';
@import 'common/about/about-me';
@import 'common/about/map';
@import 'common/footer';
@import 'common/work/my-work-h';
@import 'common/work/work-slider';
@import 'common/work/work-rew';
@import 'common/blog/blog';
@import 'common/blog/blog-header';