.footer {
    background-color: rgba(55, 62, 66, .85);
    height: 7.5rem;
    position: absolute;
    margin-top: -7.5rem;
    width: 100%;
    @include tablets {
        height: 230px;
        margin-top: -230px;
    }
}

.footer__row {
    height: 50%;
    display: flex;
    @include tablets {
        padding: 10px 0;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    @include phones {
        height: 60%;
    }
}

.footer__row:first-child {
    border-bottom: 1px solid rgba(100, 106, 109, .85);
    display: flex;
    @include phones {
        height: 40%;
    }
}

.footer__menu {
    width: 100%;
}

.footer__col {
    width: 65%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    @include tablets {
        width: 100%;
    }
}

.menu__list {
    display: flex;
    width: 100%;
    @include tablets {
        justify-content: center;
    }
}

.menu__items {
    margin: 0 1rem;
    font-size: 0.8rem;
    color: white;
    @include tablets {
        margin: 0 .5rem;
    }
}

.menu__items:first-child {
    margin: 0 1rem 0 0;
}

.menu__link {
    text-decoration: none;
    color: white;
    font-weight: 300;
    @include tablets {
        font-size: 14px;
    }
}

.socials__link {
    //font-size:rem;
}

.footer__socilas {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include tablets {
        justify-content: center;
    }
}

.footer__socilas-item {
    height: 100%;
    width: 1.75rem;
    display: flex;
    align-items: center;
}

.socials__round {
    height: 1.75rem;
    width: 1.75rem;
}

.footer__text {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, .5);
    font-weight: 300;
    line-height: 1rem;
    @include phones {
        font-size: 14px;
    }
}

.footer__col_right {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    @include tablets {
        width: 100%;
        justify-content: center;
    }
}