.map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 970px;
    @include phones {
        display: flex;
        align-items: flex-start;
    }
}

.contacts-title {
    font-size: 1.8rem;
    @include phones {
        font-size: 35px;
    }
}

.contacts-title:before {
    display: block;
    height: 5px;
    width: 20px;
    background-color: #c5cbcd;
    content: "";
    position: absolute;
    top: 45px;
    left: 35px;
    @include phones {
        font-size: 35px;
    }
}

.contacts-title:after {
    display: block;
    height: 5px;
    width: 20px;
    background-color: #c5cbcd;
    content: "";
    position: absolute;
    top: 45px;
    right: 35px;
}

.contacts__title {
    position: relative;
}

.map__data {
    width: 19rem;
    height: 15rem;
    background-color: rgba(238, 235, 223, .8);
    border-radius: 1%;
    @include phones {
        width: 100%;
        border-radius: 0;
        background-color: white;
    }
}

.contacts {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.contacts__list {
    width: 100%;
}

.contacts__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contacts-icon {
    height: 1.25rem;
    width: 1.25rem;
    fill: $green;
}

.contacts-row__content {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: $gray;
}